.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
}

.main-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left-side {
    background-color: darkslategray;
    color: azure;
    width: 70%;
}

.right-side {
    background-color: wheat;
    color: firebrick;
    width: 30%;
}